html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

main {
    display: block;
}

ol,
ul {
    list-style: none;
}

b,
strong {
    font-weight: bold;
}

*,
:after,
:before {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-style: none;
}

img[width="0"][height="0"] {
    display: none;
}

a {
    color: inherit;
    cursor: pointer;
    background-color: transparent;
    text-decoration: none;
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

a:hover,
a:focus {
    text-decoration: none;
}

input,
select,
textarea,
button {
    border: none;
    outline: none;
    border-radius: 0;
    -webkit-appearance: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

textarea::-webkit-scrollbar {
    width: 0;
}

::-ms-clear {
    display: none;
}

input {
    overflow: visible;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
    overflow: visible;
}

button,
select {
    text-transform: none;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

select::-ms-expand {
    display: none;
}

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

textarea {
    width: 100%;
    resize: none;
    border: none;
    outline: none;
    border-radius: 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

label {
    margin: 0;
}

input,
button,
select {
    border: none;
    outline: none;
}

input {
    border-radius: 0;
}

body .mobile-visible {
    display: none;
}

@media (max-width: 1000px) {
    body .mobile-visible {
        display: block;
    }

    body .desktop-visible {
        display: none;
    }
}

.no-scrolling {
	overflow: hidden;
}

.link {
	text-decoration: underline;
}

.link:hover {
	text-decoration: none;
}

.invert-link {
	text-decoration: none;
}

.invert-link:hover {
	text-decoration: underline;
}

*:focus {
    outline: none;
}

.svg-filters {
    display: none;
}

/*SCROLL ---------------------- */
body .scroll-element,
body .scroll-element div {
    border: none;
    margin: 0;
    padding: 0;
    position: absolute;
    z-index: 1;
}

body .scroll-element div {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

body .scroll-element.scroll-x {
    bottom: 1px;
    height: 8px;
    left: 0;
    width: 100%;
}

.collection-list.scroll-wrapper>.scroll-content {
    padding-bottom: 10px;
}

body .collection-list .scroll-element.scroll-y {
    display: none;
}

body .scroll-element.scroll-x .scroll-element_track {
    top: 0;
    width: 100%;
    height: 8px;
}

body .scroll-element.scroll-y {
    height: 100%;
    right: 0;
    top: 0;
    width: 6px;
}

body .scroll-element .scroll-element_outer {
    overflow: visible;
}

body .scroll-element .scroll-element_outer,
body .scroll-element .scroll-element_track,
body .scroll-element .scroll-bar {
    border-radius: 0;
}

body .scroll-element .scroll-element_track {
    background: #004F91;
    left: 0;
    width: 2px;
}

body .scroll-element .scroll-bar {
    height: auto;
    min-height: 10px;
    max-height: 100px;
    width: 8px;
    background: #004F91;
    box-shadow: none;
    left: -3px;
    position: relative;
}

body .scroll-element:hover .scroll-bar {
    
}

body .scroll-element.scroll-draggable .scroll-bar {
    
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_track {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_track {
    top: -12px;
}

body .scroll-element.scroll-x.scroll-scrolly_visible .scroll-element_size {
    left: -12px;
}

body .scroll-element.scroll-y.scroll-scrollx_visible .scroll-element_size {
    top: -12px;
}

/**/

/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/**/

html,
body {
    height: 100%;
}

body {
    margin: 0;
    color: #1A4384;
    font: normal 16px/19px 'Gotham Pro', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background: #FFD100;
}

.content {
    flex: 1 0 auto;
    overflow: hidden;
}

.container {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    position: relative;
    max-width: 1180px;
    width: 100%;
    margin: auto;
    z-index: 3;
}

.logo {
    position: absolute;
    top: 15px;
    left: 0;
    width: 73px;
    z-index: 1;
}

.logo.fixed {
    position: fixed;
    width: 60px;
    top: 10px;
    right: 1100px;
    margin: auto;
    z-index: 11;
}

.menu-links {
    position: absolute;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    transition: all .3s linear;
}

.menu-links.fixed {
    position: fixed;
    top: 0;
    background: rgba(246, 212, 1, 0.7);
    height: 78px;
    box-shadow: 7px 7px 23px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.menu-links a {
    position: relative;
    font-family: 'Peach Milk 2.0';
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
    color: #2D4795;
    margin: 0 16px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .3s linear;
}

.menu-links a:hover {
    color: #27C2EE;
}

.menu-links a.active {
    border-bottom: 2px solid #27C2EE;
}

.main-block {
    position: relative;
    min-height: 550px;
}

.main-composition {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(../img/main-composition.png) center 0 no-repeat;
    background-size: 1300px;
    z-index: 1;
}

.main-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 133%;
    margin: auto;
    background: url(../img/grunge.png) center 0 no-repeat;
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.4;
    z-index: 0;
}

.main-block::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../img/rhomb.png) center no-repeat;
    background-size: 656px;
    mix-blend-mode: multiply;
    opacity: 0.3;
    z-index: 0;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 234px;
    height: 51px;
    margin: auto;
    background: none;
}

.btn span {
    font-family: 'Peach Milk 2.0';
    font-size: 26px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    z-index: 1;
    pointer-events: none;
    padding-top: 5px;
}

@supports (-webkit-touch-callout: none) {
	.btn span,
	.menu-btn span {
		padding-top: 2px;
	}
}

.btn svg,
.menu-btn svg  {
    position: absolute;
    z-index: 0;
}

.btn svg,
.btn svg path,
.menu-btn svg,
.menu-btn svg path {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.btn:hover svg path,
.menu-btn:hover svg path {
    fill: #278EEE;
}

.btn.disabled,
.menu-btn.disabled {
    opacity: .6;
    pointer-events: none;
}

.btn.disabled svg path,
.menu-btn.disabled svg path {
    fill: #278EEE;
}

.prizes-block {
    min-height: 697px;
    margin-top: 130px;
}

.title {
    font-family: 'Peach Milk 2.0';
    font-size: 64px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
}

.title span {
    font-family: 'Gotham Pro';
    font-size: 24px;
    line-height: 93%;
    letter-spacing: normal;
}

.subtitle {
    font-family: 'Gotham Pro';
    font-size: 20px;
    line-height: 93%;
    letter-spacing: normal;
    text-align: center;
    margin-top: 15px;
}

.white-title {
    color: #fff;
}

.recipes-block {
    position: relative;
    min-height: 590px;
    padding: 20px 0 60px;
    background: #fff;
    overflow: hidden;
}

.recipes-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: #fff;
    z-index: 0;
}

.recipes-slider {
    margin: 45px auto 30px;
}

.recipe-slide-content {
    position: relative;
    max-width: 300px;
    width: 100%;
    min-height: 300px;
    margin: auto;
}

.recipe-slide-img {
    position: relative;
    width: 300px;
    height: 300px;
    cursor: pointer;
}

.recipe-static {
    position: absolute;
}

.recipe-static:hover {
    opacity: 0;
}

.recipes-slider-text {
    position: relative;
    max-width: 540px;
    padding-left: 34px;
    margin: auto;
    font-size: 16px;
    line-height: 93%;
    text-align: center;
    color: #003087;
}

.recipes-slider-text span {
    opacity: 0.5;
}

.recipes-slider-text::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    bottom: 0;
    width: 34px;
    height: 34px;
    background: url(../img/hover-icon.svg) center no-repeat;
    background-size: contain;
}

.slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 32px;
    height: 51px;
    margin: auto;
    font-size: 0;
    transition: all .2s linear;
    z-index: 1;
}

.slick-arrow:active {
    transform: scale(.9);
}

.slick-disabled {
    opacity: 0.5;
}

.slick-prev {
    left: -45px;
    background: url(../img/arrow-left.svg) center no-repeat;
    background-size: contain;
}

.products-slider .slick-prev,
.actions-slider .slick-prev {
    background: url(../img/arrow-left-white.svg) center no-repeat;
    background-size: contain;
}

.slick-next {
    right: -45px;
    background: url(../img/arrow-right.svg) center no-repeat;
    background-size: contain;
}

.products-slider .slick-next,
.actions-slider .slick-next {
    background: url(../img/arrow-right-white.svg) center no-repeat;
    background-size: contain;
}

.products-block {
    position: relative;
    min-height: 456px;
    padding: 35px 0 80px;
    background: url(../img/blue1-bg.png) center no-repeat;
    background-size: 100% 100%;
}

.products-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 110%;
    margin: auto;
    background: url(../img/grunge.png) center 0 no-repeat;
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.4;
    z-index: 0;
}

.products-slider {
    margin: 50px auto;
}

.product {
    position: relative;
}

.product-img {
    position: relative;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    min-height: 275px;
}

.product-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    right: -50px;
    bottom: 0;
    margin: auto;
    width: 272px;
    height: 239px;
    background: url(../img/product-bg.png) center no-repeat;
    background-size: contain;
}

.product-img img {
    filter: drop-shadow(-6px 8px 16px rgba(0, 0, 0, 0.15));
}

.product-title {
    font-family: 'Peach Milk 2.0';
    font-size: 36px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
}

.product-weight {
    font-family: 'Peach Milk 2.0';
    font-size: 14px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #fff;
    margin-bottom: 20px;
}

.recipes-btn {
    position: relative;
    display: block;
    width: 269px;
    height: 57px;
    margin: auto;
    background: url(../img/recipes-btn.svg) center no-repeat;
    background-size: contain;
}

.specification-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 164px;
    height: 38px;
    margin: 0 auto;
    background: url(../img/specification-btn.png) center no-repeat;
    background-size: contain;
    font-family: 'Peach Milk 2.0';
    font-size: 18px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    color: #003087;
}

.specification-tooltip {
    position: absolute;
    /*bottom: -420px;*/
    bottom: -80px;
    left: 0;
    /*right: 0;*/
    margin: auto;
    width: 459px;
    padding: 160px 30px 30px 50px;
    background: url(../img/specification-bg.png) center no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    text-align: center;
}

.specification-tooltip.active {
    opacity: 1;
    pointer-events: auto;
}

.close-specification-tooltip {
    position: absolute;
    top: 40px;
    right: 30px;
    width: 20px;
    height: 20px;
    background: url(../img/close-tooltip.svg) center no-repeat;
    background-size: contain;
}

.specification-title {
    position: absolute;
    top: 0;
    left: 20px;
    width: 381px;
    height: 154px;
    background: url(../img/specification-title.png) center no-repeat;
    background-size: contain;
}

.specification-text {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
}

.specification-text.mb10 {
    margin-bottom: 10px;
}

.specification-text.mb0 {
    margin-bottom: 0;
}

.specification-char {
    font-size: 14px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.specification-subtitle {
    font-family: 'Peach Milk 2.0';
    font-size: 24px;
    line-height: 146.5%;
    text-align: center;
    letter-spacing: 0.03em;
}

.buy-block {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 112px;
    margin-top: -30px;
    background: url(../img/white1-bg.png) center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
    z-index: 1;
}

.buy-wrapper {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.buy-title {
    font-family: 'Peach Milk 2.0';
    font-size: 36px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.03em;
    margin-right: 15px;
}

.buy-logo {
    margin: 0 15px;
}

.actions-block {
    position: relative;
    padding: 50px 0 100px;
    background: url(../img/blue1-bg.png) center no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

.actions-block::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 116%;
    margin: auto;
    background: url(../img/grunge.png) center 0 no-repeat;
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.4;
    z-index: 0;
}

.actions-block::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    background: #fff;
    z-index: 0;
}

.actions-block .container {
    max-width: 1208px;
}

.actions-slider {
    margin-top: 30px;
}

.action-slide {
    position: relative;
}

.action-img {
    display: block;
}

.action-img .mobile-visible {
    display: none;
}

footer {
    position: relative;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    min-height: 120px;
    text-align: center;
    background: url(../img/footer-bg.png) center no-repeat #fff;
    background-size: 100% 100%;
}

/*footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    background: url(../img/grunge.png) center 0 no-repeat;
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.4;
    z-index: 0;
}*/

.footer-wrapper {
    position: relative;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.copyright {
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    letter-spacing: 0.03em;
    color: #fff;
}

.footer-socials {
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
}

.footer-socials a {
    margin: 0 20px;
}

/* youtube lazyload */
.youtube-wrapper {
    max-width: 520px;
    width: 100%;
    z-index: 1;
}
.youtube {
    background-color: #000;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    cursor: pointer;
}
.youtube img {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0.95;
}
.youtube .play-button {
    width: 118px;
    height: 118px;
    z-index: 1;
}
.youtube .play-button:before {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 118px;
    height: 118px;
    background: url(../img/play-btn.png) center no-repeat;
    background-size: cover;
}
.youtube img,
.youtube .play-button {
    cursor: pointer;
}
.youtube img,
.youtube iframe,
.youtube .play-button,
.youtube .play-button:before {
    position: absolute;
}
.youtube .play-button {
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
}
.youtube iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.animateMe {
    opacity: 0;
}

.animateMe .animated {
    opacity: 1;
}

.main-slider {
    z-index: 1;
}

.main-slide {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 550px;
    outline: none;
    transform: scale(.8);
}

.composition {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    margin: auto;
}

.main-slide.onion .composition {
    background: url(../img/slider/composition-onion.png) center no-repeat;
    background-size: 639px;
}

.main-slide.cheese .composition {
    background: url(../img/slider/composition-cheese.png) center no-repeat;
    background-size: 640px;
}

.main-slide.sausages .composition {
    background: url(../img/slider/composition-sausages.png) center no-repeat;
    background-size: 642px;
}

.main-slide.pizza .composition {
    background: url(../img/slider/composition-pizza.png) center no-repeat;
    background-size: 639px;
}

.main-slide.original .composition {
    background: url(../img/slider/composition-original.png) center no-repeat;
    background-size: 640px;
}

.main-slide.mini .composition {
    background: url(../img/slider/composition-mini.png) center no-repeat;
    background-size: 850px;
}

.main-slide.crab .composition {
    background: url(../img/slider/composition-crab.png) center no-repeat;
    background-size: 642px;
}

.cc {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: 3s cc infinite;
}

.cc1 {
    top: -300px;
    left: -900px;
    animation-delay: .1s;
}

.cc2 {
    top: -350px;
    right: -1000px;
    animation-delay: .2s;
}

.cc3 {
    top: 450px;
    left: -1100px;
}

.cc4 {
    top: 400px;
    left: -600px;
    animation-delay: .15s;
}

.cc5 {
    top: 500px;
    right: -750px;
    animation-delay: .3s;
}

.cc6 {
    top: 200px;
    right: -1300px;
    animation-delay: .25s;
}

.main-slide.mini .cc2 {
    top: -350px;
    right: -800px;
}

.main-slide.mini .cc3 {
    top: -200px;
    left: 0;
    right: -1200px;
}

.main-slide.mini .cc4 {
    top: 200px;
    left: -1100px;
}

.main-slide.mini .cc5 {
    top: 400px;
    left: -500px;
    right: 0;
}

.main-slide.mini .cc6 {
    top: 450px;
    right: -1000px;
}

@keyframes cc {
    0% {
        transform: translateY(-10px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}

.cookies-block {
    padding: 140px 0 100px;
}

.main-cookie-h1 {
    font-weight: normal;
    max-width: 800px;
    width: 100%;
    margin: 0 0 20px;
}

.cookies-block p {
    font-size: 21px;
    line-height: 152%;
    margin: 40px 0;
}

.main-cookie-h3 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
}

.cookie-text-ul {
    font-size: 21px;
    line-height: 152%;
    padding-left: 50px;
    list-style: none;
}

.cookie-text-ul li {
    position: relative;
    margin: 20px 0;
}

.cookie-text-ul li::before {
    content: '';
    position: absolute;
    top: 8px;
    left: -50px;
    width: 15px;
    height: 15px;
    background: #1A4384;
    transform: rotate(40deg);
}

.main-cookie-h2 {
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    background-color: rgba(10, 48, 116, .8);
    color: #fff;
    z-index: -1;
    opacity: 0;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    align-items: flex-start;
    padding-top: 10%;
    pointer-events: none;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.js-popup-show {
    z-index: 999;
    opacity: 1;
    pointer-events: visible;
}

.popup__wrap {
    position: relative;
    max-width: 1000px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-popup {
    position: absolute;
    top: 0;
    right: -30px;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    z-index: 1;
}

.close-popup svg,
.close-popup svg path {
    transition: all .2s linear;
}

.close-popup:hover svg path {
    stroke: #0A3074;
}

.videos-block {
    position: relative;
    top: -20px;
    min-height: 700px;
    padding: 60px 0 30px;
    background: url(../img/tuc-bg.png) center 0 no-repeat;
    background-size: 731px;
}

.videos-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 110%;
    margin: auto;
    background: url(../img/grunge.png) center 0 no-repeat;
    background-size: cover;
    mix-blend-mode: soft-light;
    opacity: 0.4;
    z-index: 0;
}

.videos-slider {
    position: relative;
    max-width: 1000px;
    width: 100%;
    margin: 50px auto 40px;
}

.videos-slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: -15px;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 812px;
    height: 462px;
    background: url(../img/videos-bg.png) center no-repeat;
    background-size: 100% 100%;
}

.video-slide .youtube-wrapper {
    max-width: 762px;
    margin: auto;
}

.videos-btn {
    position: relative;
    display: block;
    width: 371px;
    height: 57px;
    margin: auto;
    background: url(../img/youtube-btn.svg) center no-repeat;
    background-size: contain;
}

.tooltip {
    position: fixed;
    top: 200px;
    right: 0;
    width: 300px;
    height: 196px;
    padding: 44px 26px;
    text-align: center;
    background: url(../img/tooltip-bg.svg) center no-repeat;
    background-size: contain;
    z-index: 3;
    filter: drop-shadow(-6px 8px 16px rgba(0, 0, 0, 0.15));
}

.tooltip img {
    width: 134px;
    margin: auto;
}

.tooltip-text {
    font-family: 'Peach Milk 2.0';
    font-size: 34px;
    line-height: 36px;
    text-align: center;
    color: #004F91;
    text-shadow: 4px 0px 0px #FFFFFF;
    margin-bottom: 5px;
}

.close-tooltip {
    position: absolute;
    top: 15px;
    right: 20px;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}

.close-tooltip span {
    margin-right: 5px;
    transition: all .2s linear;
}

.close-tooltip svg,
.close-tooltip svg path {
    transition: all .2s linear;
}

.close-tooltip:hover svg path {
    stroke: #27C2EE;
}

.close-tooltip:hover span {
    color: #27C2EE;
}

.menu-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99px;
    height: 29px;
    margin: auto;
    background: none;
}

.menu-btn span {
    font-family: 'Peach Milk 2.0';
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 1px;
    color: #fff;
    z-index: 1;
    pointer-events: none;
}

.menu-btn svg  {
    position: absolute;
    z-index: 0;
}

.menu-btn svg,
.menu-btn svg path {
    -webkit-transition: all .3s linear;
    transition: all .3s linear;
}

.menu-btn:hover svg path {
    fill: #278EEE;
}

.menu-btn.disabled svg path {
    fill: #278EEE;
}

@media (max-width: 1366px) {
    .recipes-block,
    .buy-block,
    .videos-block,
    footer {
        background-size: cover;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 970px;
    }

    .logo {
        left: 15px;
    }
}

@media (max-width: 1000px) {
    .container,
    .actions-block .container {
        max-width: 375px;
    }

    .logo {
        position: fixed;
        left: 0;
        right: 0;
        margin: auto;
    }

    .menu-links .logo {
        position: absolute;
        max-width: 60px !important;
        left: 0;
        right: 0;
    }

    .burger {
        position: fixed;
        top: 20px;
        left: 15px;
        display: flex !important;
        align-items: center;
        justify-content: center;
        width: 55px;
        height: 50px;
        background: url(../img/burger.svg) center no-repeat;
        background-size: 31px;
        font-family: 'Peach Milk 2.0';
        font-size: 28px;
        line-height: 77.5%;
        letter-spacing: 0.03em;
        text-align: center;
        color: #003087;
        z-index: 11;
    }

    .burger.active {
        background: url(../img/close.svg) 0 0 no-repeat;
        background-size: 14px;
        color: #fff;
    }

    .menu-links {
        position: fixed;
        background: url(../img/menu-bg.png) center no-repeat;
        background-size: 100% 100%;
        max-width: 354px;
        width: 100%;
        top: 0;
        margin: auto;
        padding: 85px 10px 32px;
        flex-direction: column;
        z-index: 0;
        transition: all .3s ease;
        transform: scale(0.5);
        opacity: 0;
        pointer-events: none;
    }

    .menu-links.active {
        top: 0;
        z-index: 10;
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
    }

    .menu-links a:not(.soc) {
        width: 100%;
        max-width: 277px;
        font-size: 55px;
        line-height: 1;
        text-align: left;
        letter-spacing: 0.02em;
        color: #fff;
        margin: 10px auto;
        transform: rotate(-2.35deg);
    }

    .menu-links a:first-child {
        margin-top: 0;
    }

    .menu-links a:last-child {
        margin-bottom: 0;
    }

    .menu-links a:hover,
    .menu-links a.active {
        color: #FFD100;
    }

    .menu-links .footer-socials {
        display: flex;
        order: 1;
        margin-top: 25px;
        margin-bottom: 0;
    }

    .menu-links .footer-socials a {
        transform: none;
    }

    .main-block {
        min-height: 600px; 
    }

    .main-composition {
        background: url(../img/main-composition-mob.png) center -25px no-repeat;
        background-size: 502px;
    }

    .main-block::after {
        background-size: 460px;
    }

    .recipes-block {
        min-height: 500px;
        padding: 20px 0 50px;
    }

    .recipes-slider {
        max-width: 320px;
    }

    .recipe-slide {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    .slick-active .recipe-static,
    .recipe-static:hover {
        opacity: 0;
    }

    .products-slider .slick-arrow {
        top: 210px;
        width: 16px;
        height: 24px;
    }

    .products-slider .slick-prev {
        left: 0;
    }

    .products-slider .slick-next {
        right: 0;
    }

    .specification-tooltip {
        /*bottom: 40px;*/
        bottom: 230px;
        right: 0;
        width: 320px;
        padding: 110px 20px 20px 30px;
    }

    .specification-title {
        top: 9px;
        left: 15px;
        width: 229px;
        height: 92px;
    }

    .specification-text {
        margin-bottom: 15px;
    }

    .specification-text,
    .specification-char {
        font-size: 12px;
    }

    .specification-text.mb10 {
        margin-bottom: 5px;
    }

    .specification-text.mb0 {
        margin-bottom: 0;
    }

    .specification-subtitle {
        font-size: 20px;
    }

    .buy-block {
        min-height: 222px;
        background: url(../img/white1-bg-mob.png) center no-repeat;
        background-size: 100% 100%;
    }

    .buy-block .container {
        padding: 0;
    }

    .buy-wrapper {
        flex-wrap: wrap;
        max-width: 300px;
        width: 100%;
        margin: auto;
    }

    .buy-title {
        width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }

    .buy-logo {
        margin: 10px 15px;
    }

    .actions-block .container {
        padding-right: 0;
    }

    .actions-slider {
        max-width: 340px;
        width: 100%;
        margin: 30px auto 20px;
    }

    .action-img {
        max-width: 310px;
        width: 100%;
        margin-right: 20px;
    }

    .action-img .desktop-visible {
        display: none !important;
    }

    .action-img .mobile-visible {
        display: block;
    }

    footer {
        min-height: 235px;
    }

    .footer-wrapper {
        flex-direction: column;
    }

    .copyright {
        order: 1;
        font-size: 10px;
        line-height: 11px;
        text-align: center;
    }

    .mndlz-logo {
        margin-bottom: 25px;
    }

    .footer-socials {
        order: -1;
        margin-bottom: 25px;
    }

    .youtube-wrapper {
        max-width: 290px;
    }

    .main-slide {
        min-height: 600px;
        transform: scale(1.0);
    }

    .main-slide.onion .composition {
        background: url(../img/slider/composition-onion-mob.png) center no-repeat;
        background-size: 360px;
    }

    .main-slide.cheese .composition {
        background: url(../img/slider/composition-cheese-mob.png) center no-repeat;
        background-size: 375px;
    }

    .main-slide.sausages .composition {
        background: url(../img/slider/composition-sausages-mob.png) center no-repeat;
        background-size: 375px;
    }

    .main-slide.pizza .composition {
        background: url(../img/slider/composition-pizza-mob.png) center no-repeat;
        background-size: 375px;
    }

    .main-slide.original .composition {
        background: url(../img/slider/composition-original-mob.png) center no-repeat;
        background-size: 374px;
    }

    .main-slide.mini .composition {
        background: url(../img/slider/composition-mini-mob.png) center no-repeat;
        background-size: 375px;
    }

    .main-slide.crab .composition {
        background: url(../img/slider/composition-crab-mob.png) center no-repeat;
        background-size: 375px;
    }

    .cc {
        display: none;
    }

    .main-slide.onion .cc1 {
        display: block;
        top: 0;
        left: -350px;
    }

    .main-slide.cheese .cc3,
    .main-slide.sausages .cc3,
    .main-slide.pizza .cc3,
    .main-slide.original .cc3,
    .main-slide.crab .cc3 {
        display: block;
        top: 0;
        left: -350px;
    }

    .main-slide.onion .cc6,
    .main-slide.cheese .cc6,
    .main-slide.sausages .cc6,
    .main-slide.pizza .cc6,
    .main-slide.original .cc6,
    .main-slide.crab .cc6 {
        display: block;
        top: -150px;
        right: -350px;
    }

    .main-slide.mini .cc1 {
        display: block;
        top: -250px;
        left: -300px;
    }

    .main-slide.mini .cc3 {
        display: block;
        top: -50px;
        left: -250px;
        right: 0;
    }

    .main-slide.mini .cc6 {
        display: block;
        top: -150px;
        right: -300px;
    }

    @keyframes cc {
        0% {
            transform: translateY(-10px) scale(.7);
        }

        50% {
            transform: translateY(10px) scale(.7);
        }

        100% {
            transform: translateY(-10px) scale(.7);
        }
    }

    .main-cookie-h1 {
        text-align: center;
        font-size: 35px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    .cookies-block p {
        font-size: 18px;
        margin: 20px 0;
    }

    .main-cookie-h3,
    .main-cookie-h2 {
        font-size: 20px;
    }

    .cookie-text-ul {
        font-size: 18px;
        padding-left: 30px;
    }

    .cookie-text-ul li {
        margin: 10px 0;
    }

    .cookie-text-ul li::before {
        width: 10px;
        height: 10px;
        top: 10px;
        left: -25px;
    }

    .title span {
        font-size: 18px;
    }

    .popup__wrap {
        max-width: 310px;
    }

    .close-popup {
        top: -25px;
        left: 0;
        right: 0;
        margin: auto;
        justify-content: center;
    }

    .videos-block {
        top: -30px;
        min-height: 500px;
        padding: 40px 0;
        background-position: center 25px;
        background-size: 430px;
    }

    .videos-block .container {
        padding: 0;
    }

    .videos-block .title {
        padding: 0 15px;
    }

    .videos-slider {
        max-width: 376px;
        margin: 30px auto 100px;
    }

    .videos-slider::before {
        display: none;
    }

    .youtube .play-button,
    .youtube .play-button:before {
        width: 60px;
        height: 60px;
    }

    .videos-slider .slick-arrow,
    .actions-slider .slick-arrow,
    .recipes-slider .slick-arrow {
        top: auto;
        bottom: -50px;
        width: 16px;
        height: 24px;
    }

    .videos-slider .slick-prev,
    .actions-slider .slick-prev,
    .recipes-slider .slick-prev {
        left: 10px;
    }

    .videos-slider .slick-next,
    .actions-slider .slick-next,
    .recipes-slider .slick-next {
        right: 10px;
    }

    .videos-slider .slick-dots,
    .actions-slider .slick-dots,
    .recipes-slider .slick-dots {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -40px;
        left: 0;
        right: 0;
        margin: auto;
    }

    .videos-slider .slick-dots li,
    .actions-slider .slick-dots li,
    .recipes-slider .slick-dots li {
        width: 12px;
        height: 12px;
        margin: 4px;
    }

    .videos-slider .slick-dots li button,
    .actions-slider .slick-dots li button,
    .recipes-slider .slick-dots li button {
        width: 12px;
        height: 12px;
        border-radius: 10px;
        background: #003087;
        opacity: 0.5;
        font-size: 0;
    }

    .actions-slider .slick-dots li button {
        background: #fff;
    }

    .videos-slider .slick-dots li.slick-active button,
    .actions-slider .slick-dots li.slick-active button,
    .recipes-slider .slick-dots li.slick-active button {
        opacity: 1;
    }

    .videos-btn {
        width: 317px;
        height: 94px;
        background: url(../img/youtube-btn-mob.svg) center no-repeat;
        background-size: contain;
    }

    #onetrust-consent-sdk #onetrust-policy-text {
        font-size: 10px !important;
    }

    .tooltip {
        top: 30px;
        width: 254px;
        height: 166px;
        padding: 37px 20px;
    }

    .close-tooltip {
        top: 15px;
        right: 10px;
        font-size: 14px;
    }

    .tooltip-text {
        font-size: 26px;
        line-height: 28px
    }

    .arrow-anchor {
        position: absolute;
        top: 560px;
        left: 0;
        right: 0;
        margin: auto;
        width: 37px;
        height: 31px;
        background: url(../img/gif-bounce-arrow.png) center no-repeat;
        background-size: contain;
        z-index: 1;
        animation: arrow-anchor 1.5s infinite ease-out;
    }

    @keyframes arrow-anchor {
        0%,
        100% {
            top: 560px;
        }

        50% {
            top: 570px;
        }
    }
}