@font-face {
    font-family: 'Peach Milk 2.0';
    src: url('PeachMilk20.eot');
    src: url('PeachMilk20.eot?#iefix') format('embedded-opentype'),
        url('PeachMilk20.woff2') format('woff2'),
        url('PeachMilk20.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Bold.eot');
    src: url('PFDinTextCondPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Bold.woff2') format('woff2'),
        url('PFDinTextCondPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-BoldItalic.eot');
    src: url('PFDinTextCondPro-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-BoldItalic.woff2') format('woff2'),
        url('PFDinTextCondPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Light.eot');
    src: url('PFDinTextCondPro-Light.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Light.woff2') format('woff2'),
        url('PFDinTextCondPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Regular.eot');
    src: url('PFDinTextCondPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Regular.woff2') format('woff2'),
        url('PFDinTextCondPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Italic.eot');
    src: url('PFDinTextCondPro-Italic.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Italic.woff2') format('woff2'),
        url('PFDinTextCondPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'PF Din Text Cond Pro';
    src: url('PFDinTextCondPro-Medium.eot');
    src: url('PFDinTextCondPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('PFDinTextCondPro-Medium.woff2') format('woff2'),
        url('PFDinTextCondPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

